@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,600;0,700;1,500;1,600;1,700&display=swap');

.logo-title{
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  font-size: 25px;
  color: #397239;
}
.nav-bar{
  padding: 0 60px;
}
